# Data Science Tools and Ecosystemt

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages used by Data Scienctists
- List some of the commonly used libraries by Data Scienctists
- Examples of how to evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Tensorflow
4. Pandas

Data Science Tools  |
------------------- |
RStudio  |
ApacheSpark  |
TensorFlow  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Leopoldo Medina